<li>
	{{burger_name}}

	<button class="change-devoured" class="btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}EAT ME{{/if}}
	</button>
	<button class="throw-away" class="btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#unless devoured}}Throw away{{/unless}}
	</button>
</li>