<li>
	{{burger_name}}

{{#if devoured}}
	<button class="change-devoured" class="btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		EAT ME
	</button>
	{{/if}}
	
	{{#unless devoured}}
	<button class="throw-away" class="btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Throw away
	</button>
	{{/unless}}
</li>
